/* ComingSoon.module.css */
.comingSoonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #000;
  }
  
  .title {

    font-size: 3rem;
    margin-bottom: 20px;
    color: #ff6f61;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .countdown {
    font-size: 1.5rem;
    opacity: 0;
    color: aliceblue;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
  }
  
  .countdown p {
    color: aliceblue;
    margin: 5px 0;
  }
  