@import url(https://db.onlinewebfonts.com/c/589aea3c60e04505f023550504709883?family=Hobeaux+Bold);
@import url(https://db.onlinewebfonts.com/c/62718c6d983eabf0650437464be08d15?family=Hobeaux+Regular);
.border {
    font-size: 1rem;
    display: grid;
    place-items: center;
    min-height: 8px;
    padding: 0.5rem;
}
body{
  background-color: #000;
}
.welcome{
    font-size: 40px;
    font-weight: 600;
}
.descri{
    /* font-family: "Hobeaux Regular"; */
    font-size: medium;
    color: rgba(245, 245, 245, 0.808);
}

.landing{
    background:  radial-gradient(at 50% bottom,rgb(32, 1, 60),rgb(47, 0, 118),#200058,#00122c,black,#000);
    /* background-image: (#000, #2d63f7), url("https://uploads-ssl.webflow.com/646759c55a25df70a3bdeb83/6467893f7c15a1580eafb7c3_btn-bg.svg"), linear-gradient(#0d1219, #0d1219); */
}
.full {
    position: relative;
    background-image: linear-gradient(#000, #2d63f7), url("https://uploads-ssl.webflow.com/646759c55a25df70a3bdeb83/6467893f7c15a1580eafb7c3_btn-bg.svg"), linear-gradient(#0d1219, #0d1219);
    background-position: 0 0, 50%, 0 0;
    background-size: auto, cover, auto;
    background-clip: padding-box;
    border: solid 1px transparent;
    border-radius: 0.8rem;
    color: #fff;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -3px;
    
        border-radius: inherit;
      
        background: linear-gradient(135deg, #63eacf, #ff92f4);;   
    }
}
.full:hover {
    background-image: url("https://uploads-ssl.webflow.com/646759c55a25df70a3bdeb83/6467893f7c15a1580eafb7c3_btn-bg.svg"), linear-gradient(#0d1219, #0d1219);
    background-position: 50%, 0 0;
    background-size: cover, auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* news */

.marquee {
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    font-family: "Pridi", sans-serif;
    font-weight: 600;
    color: red;
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgba(128, 128, 128, 0.137);
  }
  
  .marquee__inner {
    display: flex;
  }
  
  .marquee__line {
    flex-shrink: 0;
    margin: 0;
    padding: 2px 1.5px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes marqueeLine {
    from {
      transform: translateX(200%);
    }
    
    to {
      transform: translateX(-100%);
    }
  }
@media screen and (max-width: 679px){
    .welcome{
        font-size: 30px;
    }
    .welcome span{
      text-align: center;
    }
    .descri{
        text-align: center;
        font-size: small;
    }
    .title{
        padding-top: 120px;
    }
}
@media screen and (max-width: 270px){
    
    .welcome{
        font-size: 25px;
        
    }
    .welcome span{
      text-align: center;
    }
    .descri{
        text-align: center;
        font-size: small;
    }
}

/* About */
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
/* About */

/* roadmap */
.section_roadmap {
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: #13191f;
}
.padding-global {
  height: 100%;
  padding-left: 48px;
  padding-right: 48px;
}

  .container-large {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .padding-section-medium {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .roadmap_eyebrow-wrapper {
    color: #657389;
    text-align: center;
  }
  .eyebrow-text {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }
  .padding-section-x-small {
    padding-top: 16px;
    padding-bottom: 16px;
  }
 
  .home_section-heading-1-line {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .padding-section-small {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .home_roadmap-subheading {
    max-width: 860px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  } 

  h2 { 
    font-family: hobeaux, sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 62px;
    line-height: 1.1;
  }
  
  .text-size-large {
    letter-spacing: -.5px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 1.35;
  }
  .text-size-large.is-gray-04 {
    color: #eceef1;
  }
  .btn_wrapper-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .btn_wrapper-center.hidden {
    display: none;
  }
  .btn {
    background-image: linear-gradient(135deg, #eceef1, #fff);
    border-radius: 50em;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
  }
  .btn.is-green {
    color: #fff;
    /* background-image: linear-gradient(135deg, #299b85, #63eacf); */
    background: linear-gradient(270deg,#5fe6d0,#60b2f1 33%,#9380ff 68%,#e590ff);
    
  }
  .btn_text.is-green {
    background: linear-gradient(270deg,#5fe6d0,#60b2f1 33%,#9380ff 68%,#e590ff);
    padding: 15px;
    font-weight: 800;
    
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .btn_text.is-green:hover {
    background: linear-gradient(100deg,#5fe6d0,#60b2f1 33%,#9380ff 68%,#e590ff);
  }
  .btn_text.is-green.is-small {
    font-size: 15px;
  }
  .btn-gradient-2 {
    background: linear-gradient(black, black) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    padding: 15px;
    font-size: 15px;
    border: 4px solid transparent;
  }
  .padding-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .home_roadmap-background-2 {
    z-index: -1;
    width: 2500px;
    height: 2500px;
    opacity: .16;
    /* background-image: radial-gradient(circle, #ff92f4, rgba(254, 225, 72, 0) 48%); */
    background-color: #13191f;
    margin-left: -312.5px;
    position: absolute;
    top: -1250px;
    bottom: auto;
    left: auto;
    right: auto;
  }
  backgroundIMG{
    background-image: "./bg.jpg";
  }
  /* .home_roadmap-background-1 {
    z-index: -1;
    width: 4000px;
    height: 4000px;
    opacity: .24;
    background-image: radial-gradient(circle, #299b85, rgba(254, 225, 72, 0) 48%);
    position: absolute;
    top: auto;
    bottom: -2000px;
    left: auto;
    right: -2000px;
  } */

  
  /* Join us */
  .section_social-media {
    z-index: 1;
    position: relative;
    overflow: hidden;
    background: #13191f;
  }
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  .home_sm_embed-carret {
    width: 100%;
    height: 28px;
    color: #181f1a;
    justify-content: center;
    display: flex;
    position: static;
    top: auto;
    bottom: -28px;
    left: 0%;
    right: 0%;
  }
  .home_sm-subheading {
    max-width: 640px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .home_sm-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
 
  .home_sm-grid-item {
    width: 144px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .btn_square-glass {
    width: 94px;
    height: 94px;
    background-image: -webkit-linear-gradient(top,#5fe6d0,#597bff 38%,#9380ff 72%,#e590ff);
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    display: flex;
  }
 
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  .btn_square-filler-text {
    width: 90px;
    height: 88px;
    background-color: #0d1219;
    background-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 22%, #000), url("https://uploads-ssl.webflow.com/646759c55a25df70a3bdeb83/6467893f7c15a1580eafb7c3_btn-bg.svg");
    background-position: 0 0, 0 0;
    background-size: auto, cover;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    display: flex;
  }
  .btn_square-filler-text:hover {
    background-image: url("https://uploads-ssl.webflow.com/646759c55a25df70a3bdeb83/6467893f7c15a1580eafb7c3_btn-bg.svg");
    background-position: 0 0;
    background-size: cover;
  }

  .btn_square-embed {
    width: 56px;
    height: 56px;
    max-height: 56px;
    max-width: 56px;
    min-height: 56px;
    min-width: 56px;
    color: #fff;
  }
  .w-embed:before, .w-embed:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .w-embed:after {
    clear: both;
  }
  
  .btn_circular-embed-text {
    width: 0;
    height: 0;
    max-height: 0;
    max-width: 0;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
  }
  .padding-section-x-x-small {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .home_sm-btn-undertext {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
  }
  /* FAQ Section */
  .section_faqs {
    z-index: 0;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
  }
  .home_faqs-background-1 {
    z-index: -1;
    width: 3000px;
    height: 3000px;
    opacity: 1;
    /* background-image: radial-gradient(circle, #3948af, rgba(254, 225, 72, 0) 48%); */
    /* background-image: url(https://www.crema.finance/_nuxt/img/productsLeft.fd076aa.png);
    left: 0; */
    /* background-image: url(https://www.crema.finance/_nuxt/img/productsRight.5d744e5.png);
    right: 0;  */
    background: #13191f;
    margin-top: -1500px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    top: 0%;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .home_faqs-background-2 {
    z-index: -1;
    width: 3000px;
    height: 3000px;
    opacity: 1;
    /* background-image: radial-gradient(circle, #3948af, rgba(254, 225, 72, 0) 48%); */
    /* background-image: url(https://www.crema.finance/_nuxt/img/productsLeft.fd076aa.png);
    left: 0; */
    /* background-image: url(https://www.crema.finance/_nuxt/img/productsRight.5d744e5.png);
    right: 0;  */
    background: #13191f;
    margin-top: -1500px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    top: 0%;
    bottom: auto;
    left: auto;
    right: auto;
  }
  
  .home_faqs-background-wrapper {
    z-index: -1;
    width: 100vw;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    background: #13191f;
  }
  .home_embed-carret {
    width: 100%;
    height: 28px;
    color: #000;
    justify-content: center;
    display: flex;
    position: static;
    top: auto;
    bottom: -28px;
    left: 0%;
    right: 0%;
  }
  .faq-arrow-embed {
    width: 24px;
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    margin-left: 600px;
    transform: rotate(90deg);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }



  .faq-style-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.App {
  font-family: sans-serif;
  text-align: center;
  
}

.question-section {
  background: transparent;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 60vw;
  /* margin: 80px; */
}

.question-align {
  background: #1e2328;
  align-items: center;
  display: flex;
  min-height: 64px;
  text-align: left;
  color: #fff;
  padding: 22px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.question-align:hover {
  background: #282f34;
}
.question-align h4 {
  margin-left: 8px;
}

.question-styling {
  font-size: 17px;
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid lightgray ;
}

.answer {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 7px;
  max-height: 20px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
  color: #959cac;
  background: #1e2328;
}

  /* FAQ Section */
  @media screen and (max-width: 991px) {
    h2 {
      font-size: 58px;
    }
    .home_sm-btn-undertext {
      font-size: 16px;
    }
    .padding-section-medium {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .eyebrow-text {
      font-size: 13px;
    }
    .padding-section-x-small {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .text-size-large {
      font-size: 21px;
    }
    .padding-section-large {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .home_sm-grid {
      grid-column-gap: 24px;
      grid-row-gap: 32px;
    }
    .btn_square-filler-text {
      width: 90px;
      height: 90px;
    }
    .home_faq-item {
      grid-row-gap: 16px;
      flex-direction: column;
      margin-bottom: 16px;
      display: flex;
    }
    .home_faq-question-box {
      background-image: linear-gradient(135deg, #ff92f4, #63eacf);
      border-radius: 16px;
      margin-bottom: 16px;
      padding: 1px;
      text-decoration: none;
    }
    
    .h4 {
      font-size: 20px;
    }
    .faq_answer-text {
      font-size: 15px;
    }
  
}
@media screen and (max-width: 767px) {
      h2 {
      font-size: 56px;
    }
    .padding-global {
      padding-left: 40px;
      padding-right: 40px;
    }
    .padding-section-medium {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .btn_square-embed {
      width: 32px;
      height: 32px;
      max-height: 32px;
      max-width: 32px;
      min-height: 32px;
      min-width: 32px;
    }
    .home_sm-btn-undertext {
      font-size: 13px;
    }
    .text-size-large {
      font-size: 19px;
    }
    .padding-section-large {
      padding-top: 56px;
      padding-bottom: 56px;
    }
    .home_roadmap-background-2 {
      top: -430px;
    }
    .home_sm-grid-item {
      width: 102px;
    }
    .btn_square-glass {
      width: 100px;
      height: 100px;
    }
    
  .btn_square-glass {
    width: 72px;
    height: 73px;
    border-radius: 16px;
  }
   
  .btn_square-filler-text {
    width: 68px;
    height: 68px;
    border-radius: 15px;
  }
  .home_faq-question-box, .home_faq-answer-box {
    margin-bottom: 0;
  }
  h3 {
    font-size: 32px;
    line-height: 1.4;
  }

  .h4 {
    font-size: 17px;
  }
  .faq-arrow-embed {
    margin-left: 24px;
  }
}
@media screen and (max-width: 479px) {
    h2 {
      font-size: 45px;
    }
    .padding-global {
      padding-left: 24px;
      padding-right: 24px;
    }
    .home_section-heading-1-line {
      max-width: 250px;
    }
    .home_roadmap-subheading {
      max-width: 360px;
    }
    .home_sm-grid {
      max-width: 320px;
      grid-template-columns: repeat(auto-fit, minmax(80px, .5fr));
      justify-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    .faq-arrow-embed {
      width: 20px;
      height: 20px;
      max-height: 20px;
      max-width: 20px;
      min-height: 20px;
      min-width: 20px;
    }
  
}

/* hero */
.topText{
  width: 100%;
  padding: 20px 0;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-family: Helvetica-NeueBd;
  align-content: space-between;
}

